* {
  box-sizing: border-box;
}

.content-section {
  width: 100%;
  max-width: 1100px;
  min-height: 100px;
  margin: auto;
  color: #000;
  font-weight: normal;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
}

.dark-theme {
  color: #fff;
}

.section-title {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px;
}

.header__logo {
  display: block;
  width: 138px;
}

.header__links-list {
  display: flex;
  gap: 13px;
  font-size: 18px;
  text-underline-offset: 1px;
  list-style: circle;
  list-style-position: inside;
}

.header__links-list-item:first-child{
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.header__address {
  justify-self: end;
}

.address-list {
  list-style: none;
}

.address a {
   text-underline-offset: 5px;
}

.cover {
  position: relative;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0/0.6);

}

.cover-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 106px;
}

.cover-title {
  width: 100%;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.aligned-text:last-child {
  margin-bottom: 0;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing:last-child {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  display: inline-block;
  font-size: 22px;
  text-transform: uppercase;
}

.space-small {
  word-spacing: 0.8em;
}

.space-medium  {
  word-spacing: 0.84em;
}

.space-large {
  word-spacing: 0.9em;
}

.bet-button {
  display: inline-block;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-bottom: 120px;
  padding: 0 24px;
}

.lots__heading {
  padding-left: 40px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px 25px;
  list-style: none;
}

.lots__card-list-item {
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  padding: 46px 40px 50px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.lots__look-more-link {
  padding-left: 40px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 26px;
  min-height: 595px;
  margin-bottom: 180px;
  padding: 35px 24px 0;
}

.about__column-left {
  display: flex;
  justify-content: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__column-right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 180px;
  padding: 0 50px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  text-underline-offset: 1px;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: flex-end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
